<div class="p-4">
  <h2 class="text-2xl font-bold mb-4">{{ getTitulo() }}</h2>
  <div class="grid gap-4">
    <div
      class="flex items-center bg-white rounded-lg shadow-md p-4 cursor-pointer hover:bg-gray-100"
      *ngFor="let item of items$ | async"
      (click)="openDetail(item.id!)"
    >
      <img
        [src]="item.imagenUrl"
        alt="{{ item.nombre }}"
        class="w-16 h-16 object-cover rounded-md mr-4"
      />
      <div>
        <div class="font-semibold">{{ item.nombre }}</div>
        <div class="text-sm text-gray-500">{{ item.descripcion }}</div>
      </div>
    </div>
  </div>
</div>
