<div class="p-4" *ngIf="item$ | async as item">
  <div class="bg-white rounded-lg shadow-md overflow-hidden">
    <img [src]="item.imagenUrl" alt="Imagen" class="w-full h-64 object-cover" />
    <div class="p-4">
      <h2 class="text-2xl font-bold">{{ item.nombre }}</h2>
      <p class="text-sm text-gray-500 mb-2">{{ item.tipo | titlecase }}</p>
      <p class="mb-4">{{ item.descripcion }}</p>
      <span class="inline-block bg-green-100 text-green-800 px-3 py-1 rounded-full text-sm">
        {{ item.vecesElegido }} votos
      </span>


      <!-- Switch para favorito -->
      <div *ngIf="user" class="mt-6 flex justify-end items-center gap-2">
        <span class="text-gray-700 text-sm font-medium">Favorito</span>

        <label class="relative inline-flex items-center cursor-pointer">
          <input
            type="checkbox"
            class="sr-only peer"
            [checked]="isFavorito"
            (change)="toggleFavorito(item)"
          />
          <div
            class="w-11 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-blue-500 rounded-full peer peer-checked:bg-red-600 transition-colors"
          ></div>
          <div
            class="absolute left-0.5 top-0.5 bg-white w-5 h-5 rounded-full transition-transform peer-checked:translate-x-full"
          ></div>
        </label>
      </div>


    </div>
  </div>


  <!--
  <button
    *ngIf="user"
    (click)="toggleFavorito(item)"
    class="mt-4 w-full bg-red-600 hover:bg-red-700 text-white py-2 rounded-md"
  >
    {{ isFavorito ? 'Quitar de favoritos' : 'Añadir a favoritos' }}
  </button>
  -->

</div>
